<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>RomaVPN</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="/js/jQuery.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/form.js"></script>
		<script type="text/javascript" src="/js/alerts.js"></script>
		<script type="text/javascript" src="/js/vpn.js"></script>
		<script type="text/javascript" src="/js/events.socket.io.js"></script>
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="row">
		   		<div class="six columns"><h1><strong>R</strong>omaVPN</h1></div>
		   		<div class="six columns" id="alerts">
		   			<div class="alert" v-bind:class="{error : error, info : info}" v-if="alert">
		   				<strong>{{ type }} {{ number }}</strong><br>{{ alert }}
		   			</div>
		   		</div>
		   	</div>
	    </div>
	    <hr>
	    <div class="container" id="main">
	    	<div class="actions" v-if="actions">
	    		<button class="button button-primary" v-on:click="createClick" v-if="create">{{ create }}</button>
	    	</div>
	    	<p>{{ content }}</p>
	    </div>
	</body>
</html>