<div id="vpnList">
	<button class="button" @click="callAddVpn">add a vpn</button>
	<div v-if="vpns.length > 0">
		<div class="row-grey container" v-for="(vpn,index) in vpns">
			<h4 class="three columns" v-bind:id=vpn._id>{{vpn.name}}</h4>
			<div class="nine columns">
				<div class="details" v-if="vpn.loaded">
					<div class="attr"><strong>State</strong> {{ vpn.loaded.lxc.statePrintable }} </div>
					<div class="attr"><strong>Ip</strong> {{ vpn.loaded.lxc.ip }} </div>
					<div class="attr"><strong>Opvn configuration</strong>
						<a  @click="callEditOvpn(vpn.name)" v-if="vpn.loaded.ovpn">Edit</a>
						<a  @click="callEditOvpn(vpn.name)" v-else="vpn.loaded.ovpn">Create</a>
					</div>
					<div class="attr" v-if="vpn.loaded.ovpn"><strong>Subnets</strong>
						<a>Add</a>
					</div>
					<div class="control" v-if="vpn.loaded.ovpn">
						<img src="img/start.png" v-bind:class="{disabled : vpn.loaded.lxc.state > 0}">
						<img src="img/stop.png" v-bind:class="{disabled : vpn.loaded.lxc.state < 1}">
						<img src="img/restart.png" v-bind:class="{disabled : vpn.loaded.lxc.state < 1}">
					</div>
				</div>
				<img src="/img/loading-small.gif" v-else>
			</div>
		</div>
	</div>
	<div v-else>{{ novpn }}</div>
</div>